{% extends 'milestone2/base.html' %}
{% load static %}

{% block title %} Locum Tenet {% endblock %}

{% block table  %} 
<section class="middle">
    {% if logged_in_user.username == 'django' or logged_in_user.email == 'django' or logged_in_user.username == 'django@gmail.com' %}
    <div class="table-container">
        <table>
            <!-- <h2 class="text-center" > Welcome </h2> -->
            <h1 class="text-center"   >Clients Dashboard</h1>
            <hr >
            <h3  >User Information </h3>
            <br>
            <thead>
                <tr>
                    <th>UserID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Active Account</th>
                    <th>Last Login</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                {% for user in users %}
                <tr data-href="{% url 'user-data' user.id %}">
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    {% if user.is_active %}
                    <td class="success">Active</td>
                    {% else %}
                    <td class="danger">Inactive</td>
                    {% endif %}
                    {% if user.last_login %}
                    <td>{{ user.last_login|date:"F j, Y, g:i a" }}</td>
                    {% else %}
                    <td class="danger">Never</td>
                    {% endif %}
                    <td>{{ user.userprofile.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const rows = document.querySelectorAll("tr[data-href]");
            rows.forEach(function (row) {
                row.addEventListener("click", function () {
                    window.location.href = this.getAttribute("data-href");
                });
            });
        });
    </script>
    {% endif %}
</section>
{% endblock %}
