{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<style>
    /* Add or modify any additional CSS styles for the forgot password page here */
</style>
</head>
<body>
<div class="container" id="container">
    <div class="form-container forgot-password-container">
        <form method="post" action="{% url 'forgotmypassword' %}">
            {% csrf_token %}
            <h1>Forgot Password</h1>
            <input type="email" name="email" id="email" placeholder="Email" />
            <button type="submit">Reset Password</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Forgot Your Password?</h1>
                <p>Enter your email to reset your password.</p>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>
